name: Build Addon ZIP

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare addon folder
        run: |
          ADDON_NAME="MyLootTraking"
          mkdir -p "build/$ADDON_NAME/Locales"

          cp *.toc *.lua "build/$ADDON_NAME/"
          cp Locales/*.lua "build/$ADDON_NAME/Locales/"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyLootTraking
          path: build/MyLootTraking
